<p-toast key="tst"></p-toast>
<p-blockUI [blocked]="loading" [target]="dt"
  ><p class="center-spinner"></p
></p-blockUI>
<p-panel header="{{ header }}" #d class="screening-panel">
  <ng-container *ngIf="!loading">
    <div class="card card-w-title">
      <div [formGroup]="form">
        <div class="ui-g form-group ui-fluid">
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-12">
                <label for="job-code" class="account-label"
                  >Project Code (Readonly)</label
                >
              </div>
              <div class="ui-g-12">
                <input
                  type="text"
                  pInputText
                  readonly
                  formControlName="location"
                  id="job-code"
                />
              </div>
              <div class="ui-g-12">
                <label for="job-name" class="account-label"
                  >Project Name<span style="color: red;">&nbsp;*</span></label
                >
              </div>
              <div class="ui-g-12">
                <input
                  type="text"
                  pInputText
                  formControlName="code"
                  id="job-name"
                  placeholder="Project Name"
                />
                <p-message
                  severity="error"
                  text="Field is required"
                  *ngIf="isInvalid('code')"
                ></p-message>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12">
                <label for="job-form" class="account-label"
                  >Form<span style="color: red;">&nbsp;*</span></label
                >
              </div>
              <div class="ui-g-12">
                <p-dropdown
                  [options]="questionForms"
                  formControlName="questionForm"
                ></p-dropdown>
                <p-message
                  severity="error"
                  text="Field is required"
                  *ngIf="isInvalid('questionForm')"
                ></p-message>
              </div>
            </div>
          </div>
          <div class="ui-g-6">
            <div class="ui-g">
              <div class="ui-g-12">
                <label for="startDate" class="account-label"
                  >Start Date<span style="color: red;">&nbsp;*</span></label
                >
              </div>
              <div class="ui-g-12">
                <p-calendar formControlName="startDate"></p-calendar>
                <p-message
                  severity="error"
                  text="Field is required"
                  *ngIf="isInvalid('startDate')"
                ></p-message>
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12">
                <label for="endDate" class="account-label"
                  >End Date<span style="color: red;">&nbsp;*</span></label
                >
              </div>
              <div class="ui-g-12">
                <p-calendar formControlName="endDate"></p-calendar>
                <p-message
                  severity="error"
                  text="Field is required"
                  *ngIf="isInvalid('endDate')"
                ></p-message>
              </div>
            </div>
          </div>
        </div>

        <div class="ui-g"></div>
      </div>
      <div class="ui-g form-group">
        <div class="ui-g-12">
          <button
            pButton
            type="button"
            label="Save"
            (click)="save()"
            style="margin-right: 5px;"
          ></button>
          <button
            pButton
            type="button"
            label="Cancel"
            (click)="cancel()"
          ></button>
        </div>
      </div>
    </div>
  </ng-container>
</p-panel>
