<p-blockUI [blocked]="loading" [target]="dt"
  ><p class="center-spinner"></p
></p-blockUI>
<p-panel header="Screening" #dt class="screening-panel">
  <ng-container *ngIf="!loading">
    <div class="card card-w-title">
      <div [formGroup]="form">
        <div class="ui-g form-group">
          <div class="ui-g-12">
            <div class="ui-g form-group ui-fluid">
              <div class="ui-g-12 ui-lg-6">
                <div class="ui-g">
                  <div class="ui-g-12">
                    <label for="job-code" class="account-label"
                      >Project Name</label
                    >
                  </div>
                  <div class="ui-g-12">
                    <p-dropdown
                      [options]="jobs"
                      formControlName="selectedJob"
                    ></p-dropdown>
                  </div>
                  <div class="ui-g-12" *ngIf="isExpired">
                    <p-message
                      severity="warn"
                      [text]="expiredMessage"
                      [style]="{ marginLeft: 0 }"
                    ></p-message>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-lg-6">
                <div class="ui-g">
                  <div class="ui-g-12">
                    <label for="job-code" class="account-label">Location</label>
                  </div>
                  <div class="ui-g-12">
                    <p-dropdown
                      [options]="locations"
                      formControlName="selectedLocation"
                    ></p-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <ng-container formGroupName="questionForm">
            <div
              *ngFor="let question of questions; let i = index"
              class="ui-g-12"
            >
              <label for="quesiton{{ i + 1 }}"
                >{{ i + 1 }}. {{ question["title"] }}</label
              >
              <div class="ui-g-12">
                <div class="ui-g">
                  <div class="ui-g-3">
                    <div class="ui-g">
                      <div
                        *ngFor="let option of question.options"
                        class="ui-g-3"
                      >
                        <p-radioButton
                          id="question{{ i + 1 }}"
                          name="question{{ i + 1 }}"
                          [value]="option.value"
                          [label]="option.label"
                          [inputId]="option.value"
                          formControlName="question{{ i + 1 }}"
                        ></p-radioButton>
                        <p-message
                          severity="error"
                          text="Field is required"
                          *ngIf="isInvalid(i)"
                        ></p-message>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <div class="ui-g-12">
            <button
              pButton
              type="button"
              label="Submit"
              icon="fa fa-save"
              (click)="submit()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</p-panel>
