<div [formGroup]="partnerForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-3">
      <label for="account" class="account-label">Company Name:</label>
    </div>
    <div class="ui-g-7">
      <p-dropdown
        [options]="accounts"
        formControlName="account"
        id="account"
        placeholder="Select a Partner"
        optionLabel="companyName"
        dataKey="id"
      ></p-dropdown>
      <div ngxErrors="account">
        <div ngxError="required" when="touched">
          <p-message severity="error" text="Field is required"></p-message>
        </div>
      </div>
    </div>
    <div class="ui-g-3">
      <label for="role" class="account-label">Role Type:</label>
    </div>
    <div class="ui-g-7">
      <p-dropdown
        [options]="roles"
        formControlName="role"
        id="role"
        placeholder="Select a Partner Role"
        optionLabel="label"
        dataKey="id"
      ></p-dropdown>
      <div ngxErrors="role">
        <div ngxError="required" when="touched">
          <p-message severity="error" text="Field is required"></p-message>
        </div>
      </div>
    </div>

    <div class="ui-g-3">
      <label for="isActive" class="account-label">Status:</label>
    </div>
    <div class="ui-g-7">
      <div [class.required]="isActiveErr.hasError('required', ['touched'])">
        <div class="ui-g" style="width: 250px; margin-bottom: 10px;">
          <div class="ui-g-6">
            <p-radioButton name="isActive" [value]="true" label="Active" inputId="isActive1" formControlName="isActive"></p-radioButton>
          </div>
          <div class="ui-g-6">
            <p-radioButton name="isActive" [value]="false" label="InActive" inputId="isActive2" formControlName="isActive"></p-radioButton>
          </div>
        </div>
        <div ngxErrors="isActive" #isActiveErr="ngxErrors">
          <div ngxError="required" when="touched">
            <p-message severity="error" text="Field is required"></p-message>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-footer>
  <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save" style="margin-right: 5px;"></button>
  <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="Cancel" class="ui-button-secondary"></button>
</p-footer>
