<p-blockUI [blocked]="loading" [target]="dt"
  ><p class="center-spinner"></p
></p-blockUI>
<p-panel header="Add Form" #dt>
  <ng-container *ngIf="!loading">
    <div [formGroup]="form">
      <div class="ui-g">
        <div class="ui-g-12">
          <label for="form-name" class="account-label">Form Name</label>
        </div>
        <div class="ui-g-12">
          <input
            type="text"
            pInputText
            formControlName="name"
            id="form-name"
            placeholder="Form Name"
          />
          <p-message
            severity="error"
            text="Field is required"
            *ngIf="isInvalid('name')"
          ></p-message>
        </div>
      </div>

      <ng-container formArrayName="questions">
        <h2>Questions</h2>
        <ng-container
          *ngFor="let questionForm of questions.controls; let i = index"
        >
          <div [formGroup]="questionForm">
            <div class="ui-g">
              <div class="ui-g-12">
                <input
                  type="text"
                  pInputText
                  formControlName="title"
                  id="title"
                  placeholder="Title"
                />
                <p-button
                  icon="fa fa-trash"
                  iconPos="left"
                  (click)="deleteQuestion(i)"
                ></p-button>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <button
        pButton
        type="button"
        label="Add Question"
        (click)="add()"
        icon="fa fa-plus"
      ></button>
    </div>
    <div class="card card-w-title">
      <p-toolbar>
        <div class="ui-toolbar-group-left">
          <button
            pButton
            type="button"
            label="Save"
            icon="fa fa-save"
            (click)="save()"
          ></button>
          <button
            pButton
            type="button"
            label="Cancel"
            class="success-btn"
            icon="fa fa-cross"
            (click)="cancel()"
          ></button>
        </div>
      </p-toolbar>
    </div>
  </ng-container>
</p-panel>
