<p-blockUI [blocked]="loading" [target]="dt"
  ><p class="center-spinner"></p
></p-blockUI>
<p-panel header="{{ header }}" #dt class="screening-panel">
  <ng-container *ngIf="!loading">
    <div class="card card-w-title">
      <div [formGroup]="form">
        <div class="ui-g form-group ui-fluid">
          <div class="ui-g-12">
            <div class="ui-g">
              <div class="ui-g-6">
                <label for="form-name" class="account-label"
                  >Form Name<span style="color: red;">&nbsp;*</span></label
                >
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-6">
                <input
                  type="text"
                  pInputText
                  formControlName="name"
                  id="form-name"
                  placeholder="Form Name"
                />
                <p-message
                  severity="error"
                  text="Field is required"
                  *ngIf="isInvalid('name')"
                ></p-message>
              </div>
            </div>
            <ng-container formArrayName="questions">
              <label>Questions</label>
              <ng-container
                *ngFor="let questionForm of questions.controls; let i = index"
              >
                <div [formGroup]="questionForm">
                  <div class="ui-g">
                    <div class="ui-g-11">
                      <input
                        type="text"
                        pInputText
                        formControlName="title"
                        id="title"
                        placeholder="Title"
                      />
                    </div>
                    <div class="ui-g-1">
                      <p-button
                        icon="fa fa-trash"
                        iconPos="left"
                        (click)="deleteQuestion(i)"
                      ></p-button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div class="ui-g form-group">
          <div class="ui-g-2">
            <button
              pButton
              type="button"
              label="Add Question"
              (click)="add()"
              icon="fa fa-plus"
            ></button>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-w-title">
      <div class="ui-g">
        <div class="ui-g-2">
          <button
            pButton
            type="button"
            label="Save"
            icon="fa fa-save"
            (click)="save()"
          ></button>
        </div>
      </div>
    </div>
  </ng-container>
</p-panel>
