<div [formGroup]="form">
  <div class="ui-g ui-g-nopad">
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12"><label for="company-name" class="account-label">Company Name</label></div>
        <div class="ui-g-12">
          <input type="text" pInputText formControlName="companyName" id="company-name" placeholder="Company Name" />
          <div ngxErrors="companyName">
            <div ngxError="required" when="touched">
              <p-message severity="error" text="Field is required"></p-message>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12"><label for="vineyardAddress" class="account-label">Vineyard Address</label></div>
        <div class="ui-g-12">
          <input type="text" pInputText formControlName="vineyardAddress" id="vineyardAddress" placeholder="Vineyard Address" />
          <div ngxErrors="vineyardAddress">
            <div ngxError="required" when="touched">
              <p-message severity="error" text="Field is required"></p-message>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12"><label for="pickingDay" class="account-label">Picking Day</label></div>
        <div class="ui-g-12">
          <p-calendar formControlName="pickingDay" id="pickingDay" placeholder="DD/MM/YYYY" dateFormat="dd/mm/yy"></p-calendar>
          <div ngxErrors="pickingDay">
            <div ngxError="required" when="touched">
              <p-message severity="error" text="Field is required"></p-message>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12"><label for="rowRange" class="account-label">Row Range</label></div>
        <div class="ui-g-12">
          <input type="text" pInputText formControlName="rowRange" id="rowRange" placeholder="Row Range" />
          <div ngxErrors="rowRange">
            <div ngxError="required" when="touched">
              <p-message severity="error" text="Field is required"></p-message>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12"><label for="numberOfBins" class="account-label">Number Bins</label></div>
        <div class="ui-g-12">
          <input type="text" pInputText formControlName="numberOfBins" id="numberOfBins" placeholder="Number Bins" />
          <div ngxErrors="numberOfBins">
            <div ngxError="required" when="touched">
              <p-message severity="error" text="Field is required"></p-message>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12"><label for="block" class="account-label">Block</label></div>
        <div class="ui-g-12">
          <input type="text" pInputText formControlName="block" id="block" placeholder="Block" />
          <div ngxErrors="block">
            <div ngxError="required" when="touched">
              <p-message severity="error" text="Field is required"></p-message>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12"><label for="region" class="account-label">Region</label></div>
        <div class="ui-g-12">
          <input type="text" pInputText formControlName="region" id="region" placeholder="Region" />
          <div ngxErrors="region">
            <div ngxError="required" when="touched">
              <p-message severity="error" text="Field is required"></p-message>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12"><label for="vintage" class="account-label">Vintage:</label></div>
        <div class="ui-g-12">
          <input type="text" pInputText formControlName="vintage" id="vintage" placeholder="Vintage" />
          <div ngxErrors="vintage">
            <div ngxError="required" when="touched">
              <p-message severity="error" text="Field is required"></p-message>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12"><label for="variety" class="account-label">Variety:</label></div>
        <div class="ui-g-12">
          <input type="text" pInputText formControlName="variety" id="variety" placeholder="Variety" />
          <div ngxErrors="variety">
            <div ngxError="required" when="touched">
              <p-message severity="error" text="Field is required"></p-message>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
