<p-footer>
  <p-button label="Back" icon="pi pi-angle-left" iconPos="left" [disabled]="disableBack" class="back-button" (click)="onBack()"></p-button>
  <ng-container *ngIf="showNext">
    <p-button label="Next" icon="pi pi-angle-right" iconPos="right" (click)="onNext()"></p-button>
  </ng-container>
  <ng-container *ngIf="!showNext">
    <p-button label="Save" icon="pi pi-save" iconPos="left" (click)="onNext()" styleClass="ui-button-success"></p-button>
  </ng-container>
  <p-button label="Cancel" styleClass="ui-button-secondary" (click)="onCancel()"></p-button>
</p-footer>
