<div class="ui-g">
  <div class="ui-g-12">
    <div class="card card-w-title">
      <h1>{{ title }}</h1>
      <p-confirmDialog header="Confirmation" icon="fa fa-exclamation" [style]="{ width: '425px' }"></p-confirmDialog>
      <ng-template #container></ng-template>
      <p-footer style="padding-left: 12px;">
        <p-button label="Save" icon="pi pi-save" iconPos="left" (click)="onSave()" styleClass="ui-button-success"></p-button>
        <p-button label="Cancel" styleClass="ui-button-secondary" (click)="onCancel()"></p-button>
      </p-footer>
    </div>
  </div>
</div>
