<div class="ui-g">
  <div class="ui-g-12">
    <p-confirmDialog
      header="Confirmation"
      icon="fa fa-exclamation"
      [style]="{ width: '425px' }"
    ></p-confirmDialog>
    <div [formGroup]="form">
      <div
        class="card card-dark"
        *ngFor="let question of questions; let i = index"
      >
        <h2>{{ i + 1 }}. {{ question["title"] }}</h2>
        <div class="ui-g">
          <div class="ui-g-12 ui-md-1" *ngFor="let option of question.options">
            <p-radioButton
              name="question{{ i + 1 }}"
              [value]="option.value"
              [label]="option.label"
              [inputId]="option.value"
              formControlName="question{{ i + 1 }}"
            ></p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <p-footer style="padding-left: 12px;">
      <p-button
        label="Submit"
        icon="pi pi-save"
        iconPos="left"
        (click)="onSave()"
        styleClass="ui-button-success"
      ></p-button>
      <p-button
        label="Cancel"
        styleClass="ui-button-secondary"
        (click)="onCancel()"
      ></p-button>
    </p-footer>
  </div>
</div>
