<p-toast key="tst"></p-toast>
<p-blockUI [blocked]="loading" [target]="dt"
  ><p class="center-spinner">loading</p></p-blockUI
>
<p-panel header="Default Project" #dt>
  <ng-container *ngIf="!loading">
    <div [formGroup]="form">
      <div class="card card-w-title">
        <div class="ui-g">
          <div class="ui-g-12">
            <div class="ui-g">
              <div class="ui-g-2">
                <label>Current default project name: </label>
              </div>
              <div class="ui-g-6">
                <label
                  ><strong>{{ currentDefaultJobName }}</strong></label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-w-title">
        <div class="ui-g">
          <div class="ui-g-12">
            <label>Please select a project as default</label>
          </div>
          <div class="ui-g-12">
            <p-autoComplete
              id="acSimple"
              formControlName="jobCode"
              [suggestions]="filteredJobs"
              (completeMethod)="filterJob($event)"
              field="code"
              [size]="30"
              placeholder="Hint: start typing the project name"
              forceSelection="true"
              [minLength]="1"
            ></p-autoComplete>
          </div>
          <div class="ui-g-12">
            <p-message
              severity="error"
              text="Field is required"
              *ngIf="isInvalid('jobCode')"
            ></p-message>
          </div>
          <div class="ui-g-12">
            <button
              pButton
              type="button"
              label="Save"
              icon="fa fa-save"
              (click)="save()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</p-panel>
