<div class="ui-g ui-fluid">
  <div class="ui-g-offset-3 ui-g-6">
    <div class="card card-w-title">
      <h1>{{ title }}</h1>
      <div [formGroup]="form">
        <div class="ui-g">
          <div class="ui-g-12">
            <label for="company-name" class="account-label">Company Name</label>
          </div>
          <div class="ui-g-12">
            <input type="text" pInputText formControlName="companyName" id="company-name" placeholder="Company Name" />
            <div ngxErrors="companyName">
              <div ngxError="required" when="touched">
                <p-message severity="error" text="Field is required"></p-message>
              </div>
            </div>
          </div>

          <div class="ui-g-12">
            <label for="email" class="account-label">Email</label>
          </div>
          <div class="ui-g-12">
            <input type="text" pInputText formControlName="email" id="email" placeholder="Email" />
            <div ngxErrors="email">
              <div ngxError="required" when="touched">
                <p-message severity="error" text="Field is required"></p-message>
              </div>
            </div>
          </div>

          <div class="ui-g-12">
            <label for="address" class="account-label">Address</label>
          </div>
          <div class="ui-g-12">
            <input type="text" pInputText formControlName="address" id="address" placeholder="Address" />
            <div ngxErrors="address">
              <div ngxError="required" when="touched">
                <p-message severity="error" text="Field is required"></p-message>
              </div>
            </div>
          </div>

          <div class="ui-g-12">
            <label for="accountType" class="account-label">Account Type</label>
          </div>
          <div class="ui-g-12">
            <div [class.required]="accountTypeErr.hasError('required', ['touched'])">
              <div class="ui-g" style="width: 250px; margin-bottom: 10px;">
                <div class="ui-g-6">
                  <p-radioButton
                    name="accountType"
                    value="1"
                    label="Primary"
                    inputId="accountType1"
                    formControlName="accountType"
                  ></p-radioButton>
                </div>
                <div class="ui-g-6">
                  <p-radioButton
                    name="accountType"
                    value="2"
                    label="Secondary"
                    inputId="accountType2"
                    formControlName="accountType"
                  ></p-radioButton>
                </div>
              </div>
            </div>
            <div ngxErrors="accountType" #accountTypeErr="ngxErrors">
              <div ngxError="required" when="touched">
                <p-message severity="error" text="Field is required"></p-message>
              </div>
            </div>
          </div>

          <div class="ui-g-12">
            <label for="isActive" class="account-label">Status</label>
          </div>
          <div class="p-col-6">
            <div [class.required]="isActiveErr.hasError('required', ['touched'])">
              <div class="ui-g" style="width: 250px; margin-bottom: 10px;">
                <div class="ui-g-6">
                  <p-radioButton
                    name="isActive"
                    [value]="true"
                    label="Active"
                    inputId="isActive1"
                    formControlName="isActive"
                  ></p-radioButton>
                </div>
                <div class="ui-g-6">
                  <p-radioButton
                    name="isActive"
                    [value]="false"
                    label="InActive"
                    inputId="isActive2"
                    formControlName="isActive"
                  ></p-radioButton>
                </div>
              </div>
            </div>
            <div ngxErrors="isActive" #isActiveErr="ngxErrors">
              <div ngxError="required" when="touched">
                <p-message severity="error" text="Field is required"></p-message>
              </div>
            </div>
          </div>
        </div>
        <tt-footer (next)="next()" [disableBack]="true"></tt-footer>
      </div>
    </div>
  </div>
</div>
