<div [formGroup]="roleForm">
  <div class="ui-g ui-fluid">
    <div class="ui-g-3">
      <label for="name" class="account-label">Name:</label>
    </div>
    <div class="ui-g-8">
      <input type="text" pInputText formControlName="name" id="name" placeholder="Role Name" />
      <div ngxErrors="name">
        <div ngxError="required" when="touched">
          <p-message severity="error" text="Field is required"></p-message>
        </div>
      </div>
    </div>

    <div class="ui-g-3">
      <label for="location" class="account-label">Location:</label>
    </div>
    <div class="ui-g-8">
      <input type="text" pInputText formControlName="location" id="location" placeholder="Company Name" />
      <div ngxErrors="location">
        <div ngxError="required" when="touched">
          <p-message severity="error" text="Field is required"></p-message>
        </div>
      </div>
    </div>

    <div class="ui-g-3">
      <label for="type" class="account-label">Role Type:</label>
    </div>
    <div class="ui-g-8">
      <p-dropdown [options]="roleTypes" formControlName="type" placeholder="Select a Role" optionLabel="label"></p-dropdown>
      <div ngxErrors="type">
        <div ngxError="required" when="touched">
          <p-message severity="error" text="Field is required"></p-message>
        </div>
      </div>
    </div>

    <div class="ui-g-3">
      <label for="isActive" class="account-label">Status:</label>
    </div>
    <div class="ui-g-8">
      <div [class.required]="isActiveErr.hasError('required', ['touched'])">
        <div class="ui-g" style="width: 250px; margin-bottom: 10px;">
          <div class="ui-g-6">
            <p-radioButton name="isActive" [value]="true" label="Active" inputId="isActive1" formControlName="isActive"></p-radioButton>
          </div>
          <div class="ui-g-6">
            <p-radioButton name="isActive" [value]="false" label="InActive" inputId="isActive2" formControlName="isActive"></p-radioButton>
          </div>
        </div>
      </div>
      <div ngxErrors="isActive" #isActiveErr="ngxErrors">
        <div ngxError="required" when="touched">
          <p-message severity="error" text="Field is required"></p-message>
        </div>
      </div>
    </div>
  </div>
</div>
<p-footer>
  <button type="button" pButton icon="pi pi-check" (click)="save()" label="Save" style="margin-right: 5px;"></button>
  <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="Cancel" class="ui-button-secondary"></button>
</p-footer>
