<p-toast key="tst"></p-toast>

<p-blockUI [blocked]="loading" [target]="dt"
  ><p class="center-spinner"></p
></p-blockUI>
<p-panel header="My Profile" #dt class="screening-panel">
  <ng-container *ngIf="!loading">
    <div [formGroup]="form">
      <div class="card card-w-title">
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-lg-6">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <label for="name" class="account-label">Name</label>
              </div>
              <div class="ui-g-12">
                <input
                  type="text"
                  pInputText
                  readonly
                  formControlName="name"
                  id="name"
                />
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <label for="email" class="account-label">Email</label>
              </div>
              <div class="ui-g-12">
                <input
                  type="text"
                  pInputText
                  readonly
                  formControlName="email"
                  id="email"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-w-title">
        <div class="ui-g form-group">
          <div class="ui-g-12 ui-lg-6">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <label for="phone-number" class="account-label"
                  >Phone number<span style="color: red;">&nbsp;*</span></label
                >
              </div>
              <div class="ui-g-12">
                <input
                  type="text"
                  pInputText
                  formControlName="phonenumber"
                  id="phone-number"
                  placeholder="Phone number"
                />
                <p-message
                  severity="error"
                  text="Field is required"
                  *ngIf="isInvalid('phonenumber')"
                ></p-message>
              </div>
              <div class="ui-g-12">
                <label for="healthCardNumber" class="account-label"
                  >Health card number</label
                >
              </div>
              <div class="ui-g-12">
                <input
                  type="text"
                  pInputText
                  formControlName="healthCardNumber"
                  id="healthCardNumber"
                  placeholder="Health card number"
                />
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6">
            <div class="ui-g ui-fluid">
              <div class="ui-g-12">
                <label for="dob" class="account-label"
                  >Date of birth (DD/MM/YYYY)<span style="color: red;"
                    >&nbsp;*</span
                  ></label
                >
              </div>
              <div class="ui-g-12">
                <input
                  type="text"
                  pInputText
                  formControlName="DOB"
                  id="dob"
                  placeholder="Date of birth (DD/MM/YYYY)"
                />
                <p-message
                  severity="error"
                  text="Field is required"
                  *ngIf="isInvalid('DOB')"
                ></p-message>
              </div>

              <div class="ui-g-12">
                <label for="vaxxStatus" class="account-label"
                  >Vax<span style="color: red;">&nbsp;*</span></label
                >
              </div>
              <div class="ui-g-12">
                <p-dropdown
                  [options]="statuses"
                  formControlName="vaxxStatus"
                  id="vaxxStatus"
                ></p-dropdown>
                <p-message
                  severity="error"
                  text="Field is required"
                  *ngIf="isInvalid('vaxxStatus')"
                ></p-message>
              </div>
            </div>
          </div>
          <ng-container *ngIf="firstTime">
            <div class="ui-g-12 col-offset-1">
              <ul>
                <li>
                  This consent provides RegulatorsTO with your permission to
                  perform a Covid 19 screening procedure based on your employers
                  need to maintain a safe environment for employees,
                  contractors, vendors and other essential persons with whom you
                  may come in contact with and acknowledge that the results will
                  be shared with your employer. By selecting agree below you are
                  indicating that you and any dependents voluntarily consent to
                  this procedure for the detection of Covid-19.
                </li>
                <li>
                  You understand that the test being administered involves a
                  nasal swab that will be tested to indicate the potential
                  presence of Covid 19. This test alone may not be sufficient to
                  detect or rule out the possibility that you have been exposed
                  to or are infected with Covid-19. You should carefully monitor
                  your own symptoms, and, notwithstanding the results of any
                  testing, you must stay home and consult your physician if you
                  experience the symptoms of Covid-19.
                </li>
                <li>
                  You have the right to discuss the proposed testing with your
                  physician, to learn about the purpose, potential risks and
                  benefits of any testing. Based upon your test results, if you
                  have been contacted by us or your employer about a possible
                  positive case of Covid-19 you should contact a physician or
                  other medical professional for advice. Because of the ongoing
                  public health crisis, it may be necessary for RegulatorsTO to
                  share the test results with your employer and public health
                  authorities. By selecting agree below you consent to the
                  disclosure of such information as requested, recommended or
                  required by federal, provincial and local public health
                  authorities.
                </li>
                <li>
                  By selecting agree below, you agree to release and waive
                  RegulatorsTO and it's staff members from any claim arising as
                  a result of your selection to receive this Covid-19 screening,
                  Additionally you agree to release and waive any claim that
                  might arise against RegulatorsTO and staff members for any
                  risks, side effects, or complications resulting from the
                  testing.
                </li>
                <li>
                  Please note: All medical testing will be administered by a
                  licensed medical health professional and all testing supplies
                  will be purchased from a registered supplier and in accordance
                  with Health Canada.
                </li>
              </ul>
            </div>
            <div class="ui-g-12">
              <input
                type="checkbox"
                id="agreement"
                formControlName="userAgreement"
              />
              <label
                >Agreement to terms and conditions/waiver release questions<span
                  style="color: red;"
                  >&nbsp;*</span
                ></label
              >
            </div>
            <div class="ui-g-12">
              <p-message
                severity="error"
                text="Field is required"
                *ngIf="isInvalid('userAgreement')"
              ></p-message>
            </div>
          </ng-container>
          <div class="ui-g-12">
            <button
              pButton
              type="button"
              label="Save"
              (click)="save()"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</p-panel>
