<p-blockUI [blocked]="loading$ | async" [target]="dt"><p class="center-spinner"></p></p-blockUI>
<div class="card card-w-title">
  <h1>Product List</h1>
  <p-table [columns]="cols" #dt [value]="products" dataKey="id" [paginator]="true" [rows]="10" styleClass="ui-table-products">
    <ng-template pTemplate="caption">
      <p-button label="Add Product" icon="pi pi-plus" iconPos="left" (click)="addEdit(null)" *ngIf="!isNotGrower"></p-button>
      <div class="ui-table-globalfilter-container">
        <input
          type="search"
          pInputText
          size="50"
          placeholder="Global Filter"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width: 250px;"
        />
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th style="width: 3em;" *ngIf="isNotGrower"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon
            [field]="col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
          ></p-sortIcon>
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns" let-rowIndex="rowIndex">
      <tr>
        <td *ngIf="isNotGrower">
          <a href="#" [pRowToggler]="rowData">
            <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
          </a>
        </td>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td>
          <p-button icon="pi pi-pencil" iconPos="left" (click)="addEdit(rowData.id)" pTooltip="Edit" tooltipPosition="top"></p-button>
          <p-button
            icon="pi pi-users"
            iconPos="left"
            (click)="openTransfer(rowIndex)"
            pTooltip="Transfer"
            tooltipPosition="top"
            styleClass="ui-button-success"
          ></p-button>
          <p-button
            *ngIf="isWinery"
            icon="pi pi-share-alt"
            iconPos="left"
            (click)="openTransfer(rowIndex)"
            pTooltip="Split"
            tooltipPosition="top"
            styleClass="ui-button-success"
          ></p-button>
          <p-button
            *ngIf="isWinery"
            icon="pi pi-clone"
            iconPos="left"
            (click)="openTransfer(rowIndex)"
            pTooltip="Blender"
            tooltipPosition="top"
            styleClass="ui-button-success"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
      <tr>
        <td [attr.colspan]="columns.length + 2">
          <div class="ui-g ui-fluid" style="font-size: 16px; padding: 20px;">
            <div class="ui-g-12 ui-md-8">
              <div class="ui-g">
                <td *ngFor="let subcol of subCols" class="ui-g-6">
                  <div>
                    <div class="ui-g">
                      <div class="ui-g-6">
                        <b>{{ subcol.header }}:</b>
                      </div>
                      <div class="ui-g-6">
                        {{ rowData[subcol.field] }}
                      </div>
                    </div>
                  </div>
                </td>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
